:root {
  --primary: #058BD6;
  --primaryHover: #0576B7;
  --primaryActive: #046299;
  --primaryFocus: #034F7A;
  --primaryDark: #02314C;
  --secondary: #02314C;
  --white: #FAFAFA;
  --black: #121212;
  --gray: #D6D6D6;
  --text: #565656;
  --disabled: #B3B3B3;
  --disabledText: #565656;
  --danger: #D60537;
  --dangerHover: #B7052E;
  --dangerActive: #890423;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}

html, body, #root, .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: var(--white);
}

a {
  transition: filter 0.3s;
}

.page {
  width: 90%;
  max-width: 900px;
  padding: 3rem 0;
  gap: 1rem;
}

.page > p {
  text-align: center;
  max-width: 575px;
}

h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  color: var(--primaryActive);
  font-family: 'Montserrat', 'Work Sans', sans-serif;
}

p, label {
  font-size: 1rem;
  color: var(--text);
}


button, a {
  border: 0;
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: var(--primary);
  transition: all 0.3s;
  padding: 0 0.75rem;
  height: 30px;
  text-decoration: none;
}

a:hover, button:hover {
  background: var(--primaryHover);
}